body {
  background: #fefefe;
}

.main {
  margin: 50px auto;
  max-width: 700px;
  padding-top: 20px;
}

.heading {
  color: tomato;
  margin-bottom: 40px;
}


.about__header {
  color: #1460aa;
}

.about__link {
  color: #1a936f;
}

.about__paragraph {
  color: #2C4981;
  padding: 16px;
  font-size: 20px;
}

.about__paragraph--color {
  color: #ff6700;
}

.about__picture {
  width: 100%;
  max-width: 100px;
  display: block;
  float: left;
  margin: 0 16px 16px 0;
}

.sectionHeader,
.diary__header {
  color: #1460aa;
  margin-top: 0;
}

.diary__header {
  color: cornflowerblue;
}

.diary__paragraph {
  color: #2C4981;
}

.navigation__link {
  color: #1a936f;
}

.navigation__item {
  display: inline;
}

.navigation__list {
  list-style: none;
  padding: 0;
}


.day__header {
  color: red;
}

.day__paragraph {
  color: hotpink;
}

.day__paragraph--green {
  color: green;
}

.day__link {
  color: coral;
}

.articleHeader {
  font-size: 48px;
  color: darkcyan;
}

.articleParagraph {
  color: purple;
}

.diary {
  background: #eeeeee;
  padding: 20px;
  clear: both;
}

.box {
  width: 100px;
  height: 100px;
  background: yellowgreen;
  padding: 10px;
  border: 10px solid red;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 50%;
  position: sticky;
}


.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #1a936f;
  text-decoration: none;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 0;
  box-sizing: border-box;
  padding: 10px;
  background: #fff;
}

.day {
  padding: 16px;
}

.day__header {
  margin: 0 0 16px;
  color: #0496ff;
}

.day__header--sunday {
  color: #1a936f;
}

.day__paragraph {
  line-height: 36px;
  padding: 16px;
  margin: 0;
}

.hobby__list {
  list-style: none;
  padding: 0;
}
